<%- include('head.ejs') %>
<body>
	<%- include('includes/header.ejs') %>
<div class="wrapper">
	
	<div class="col-wrapper">
		<%- include('includes/sidebarmenu.ejs') %>
		<div class="full-column db-cont-wrap right">
		
			<div class="column-head">
				<div class="col-pagename left">My Clinics</div>
				<div class="master-creation right"><a href="clinics/addclinic"><span class="crticn"><img src="img/plus.svg" alt="" width="16px"></span><span class="crtxt">Add New Clinic</span><div class="clr"></div></a></div>
				<div class="clr"></div>
			</div>
			
			<div class="table-wrap">
			
				<div class="table-head">
					<div class="left tbl-cell size-xl text-wrapping">Clinic Name</div>
					<div class="left tbl-cell size-s text-wrapping">Area/Location</div>
					<div class="left tbl-cell size-s text-wrapping">Mobile</div>
					<div class="left tbl-cell size-s text-wrapping">Created on</div>
					<div class="left tbl-cell size-m text-wrapping">Username</div>
					<div class="left tbl-cell size-m text-wrapping">Clinic code</div>
					<div class="left tbl-cell size-s text-wrapping">Status</div>
					<div class="clr"></div>
				</div>
				
				<div class="table-body">
					<% result.forEach(function(result){ 
						var date = new Date(result.DateCreated*1000)
						%>
					<div class="table-row">
					<div class="left tbl-cell size-xl text-wrapping"><%= result.Name ? result.Name : '--'; %></div>
					<div class="left tbl-cell size-s text-wrapping"><%= result.Location ? result.Location : '--'; %></div>
					<div class="left tbl-cell size-s text-wrapping"><%= result.Mobile ? result.Mobile : '--'; %></div>
					<div class="left tbl-cell size-s text-wrapping"><%= date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() %></div>
					<div class="left tbl-cell size-m text-wrapping"><%= result.UserName ? result.UserName : '--'; %></div>
					<div class="left tbl-cell size-m text-wrapping"><%= result.Code ? result.Code : '--'; %></div>
					<div class="left tbl-cell size-s text-wrapping <%= result.Active == '1' ? 'grntxt' : 'redtxt'; %>"><%= result.Active == '1' ? 'Active' : 'Deactive'; %></div>
					<div class="right tbl-actn posrel">
						<a href="#"><img src="img/more-vertical-dark.svg" alt="" height="18px"></a>
						<span class="drop-actns posabsolut hide">
							<a href="#" class="text-wrapping">View Details</a>
							<a href="#" class="text-wrapping">Edit</a>
							<a href="#" class="text-wrapping">Copy Password</a>
							<a href="#" class="text-wrapping">Deactive</a>
						</span>
					</div>
					<div class="clr"></div>
					</div>
					<% }); %>
					<div class="table-row row-highlight-red">
					<div class="left tbl-cell size-xl text-wrapping">Heileen Homeopathy Clinic</div>
					<div class="left tbl-cell size-s text-wrapping">Aminabad</div>
					<div class="left tbl-cell size-s text-wrapping">4</div>
					<div class="left tbl-cell size-s text-wrapping">24 May, 2022</div>
					<div class="left tbl-cell size-m text-wrapping">ccn08909</div>
					<div class="left tbl-cell size-m text-wrapping">••••••••</div>
					<div class="left tbl-cell size-s text-wrapping redtxt">Deactive</div>
					<div class="right tbl-actn posrel">
						<a href="#"><img src="img/more-vertical-dark.svg" alt="" height="18px"></a>
						<span class="drop-actns posabsolut">
							<a href="#" class="text-wrapping">View Details</a>
							<a href="#" class="text-wrapping">Edit</a>
							<a href="#" class="text-wrapping">Copy Password</a>
							<a href="#" class="text-wrapping">Deactive</a>
						</span>
					</div>
					<div class="clr"></div>
					</div>
				</div>
				
				<div class="pagination">
						<div class="left rsltpp">
							<div class="rsl-hding left">Result Per Page</div>
							<div class="rsl-counter left posrel"><a href="#">10</a>
								<!--<ul class="posabsolut">
									<li><a href="#">All</a></li>
									<li><a href="#">50</a></li>
									<li><a href="#">40</a></li>
									<li><a href="#">30</a></li>
									<li><a href="#">20</a></li>
								</ul>-->
							</div>
							<div class="clr"></div>
						</div>
						
						<div class="right pgntn">
							<a href="#"><img src="img/first.svg" alt="" width="14px"></a>
							<a href="#"><img src="img/previous.svg" alt="" width="14px"></a>
							<span href="" class="crntpg">Page 1 of 32</span>
							<a href="#"><img src="img/next2.svg" alt="" width="14px"></a>
							<a href="#"><img src="img/last.svg" alt="" width="14px"></a>
							<div class="clr"></div>
						</div>
						
						<div class="clr"></div>
				</div>
				
			</div>
			
		</div>
		
		
		
		<div class="clr"></div>
		<%- include('includes/footer.ejs') %>
</div>
			
	</div>
	
</body>
</html>
<script src="/scripts/common.js"></script>
<script src="/scripts/common.function.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/admin.js"></script>